@model SHWY.PMS.Controllers.MyPersonTaskList
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    function showDetails(that) {
        alert($(that).attr("taskId"));
    }
</script>

<div>
    @foreach (var myTask in Model.personTaskList)
    {
        <div style="width:300px;height:200px;background-color:sandybrown; border:5px;float:left;">
            <span>项目：@myTask.ItemName</span><br />
            <span>产品：@myTask.ProdName</span><br />
            <span> 任务类型：@myTask.taskTypeName</span><br />
            <span> 任务状态：@myTask.taskStatusName</span><br />
            <span>描述：@myTask.detail</span><br />
            <span><a href="javascript:void(0)" onclick="showDetails(this)" taskId="@myTask.ID">查看详细</a></span>
        </div>
    }
</div>