
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*MVC5不支持分部视图的异步调用，MVC6才支持，所以用第二种方法
    @Html.RenderPartial("myTaskType_Partial")*@


<div id="mytaskList"></div>
<script type="text/javascript">
    $("#mytaskList").load('@Url.Action("myTaskType_Partial")');
</script>