
@{
    ViewBag.Title = "PartyIndex";
    Layout = "~/Views/Shared/_BaseContent.cshtml";
}


<table id="tt"></table>
<div id="tb">
    <a class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="EditParty(0)">新增</a>
    <a class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" onclick="EditParty(1)">修改</a>
    <a class="easyui-linkbutton" data-options="iconCls:'icon-clear',plain:true" onclick="DelParty()">删除</a>
    <span class="l-btn-text">甲方：</span><input class="easyui-textbox" id="txtNameQ" style="width:180px;" />
    <a class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true" onclick="GridReload('load')">查询</a>
</div>
<script>
    $(function () {
        InitGrid();
    });
    function InitGrid() {
        $("#tt").datagrid({
            url: '/Party/GetPartyList',
            columns: [[
                { field: 'PartyID', title: '编号' },
                { field: 'name', title: '甲方公司名称', width: 150 },
                { field: 'text', title: '描述', width: 400 }
            ]],
            autoRowHeight: false,//定义是否设置基于该行内容的行高度。设置为 false，则可以提高加载性能。
            striped: true,//设置为 true，则把行条纹化。（即奇偶行使用不同背景色）
            nowrap: true,//设置为 true，则把数据显示在一行里。设置为 true 可提高加载性能。
            singleSelect: true,
            pagination: true,
            pageSize: 20,
            idField: 'PartyID',
            toolbar: '#tb',
            rownumbers: true,
            fit: true,
            queryParams: {
                name: ""
            }
        });
    }
    function GridReload(loaded) {
        $("#tt").datagrid(loaded, {
            name: $("#txtNameQ").val()
        });
    }
    var isAdd = false;
    function EditParty(partyid) {
        if (partyid == 0)
            isAdd = true;
        else {
            var row = $("#tt").datagrid("getSelected");
            if (row == null) {
                AlertMsg("请选择一行数据后再操作");
                return;
            }
            isAdd = false;
        }
        var id = partyid == 0 ? "" : row.PartyID;
        ShowDialog("甲方公司管理", 600, 400, "/Party/PartyEdit?partyID=" + id, saveParty);
    }
    function DelParty() {
        var row = $("#tt").datagrid("getSelected");
        if (row == null) {
            AlertMsg("请选择一行数据后再操作");
            return;
        }
        $.messager.confirm('提示', "确定要删除吗？", function (r) {
            if (r) {
                $.post("/Party/DelParty", { partyID: row.PartyID }, function (result) {
                    if (result.isOk) {
                        AlertMsg("删除成功");
                        GridReload("reload");
                    }
                    else {
                        AlertMsg('删除失败');
                    }
                });
            }
        });
    }
    function saveParty() {
        var check = $("#formPartyEidt").form('enableValidation').form('validate');
        if (check) {
            var postData = $("#formPartyEidt").serialize();
            if (isAdd) {
                $.post("/Party/IsExistsByPartyID", postData, function (result) {
                    if (result.isExists) {
                        AlertMsg("甲方公司编号已存在,请重新输入");
                        return;
                    }
                    else {
                        SaveData(postData);
                    }
                });
            } else {
                SaveData(postData);
            }
        }
    }
    function SaveData(postData) {
        $.post("/Party/SaveParty", postData, function (result) {
            if (result.isOk) {
                $('#PopWindow').dialog('close');
                $("#PopWindow").remove();
                GridReload(isAdd ? "load" : "reload");
            }
            else {
                AlertMsg('保存失败');
            }

        });
    }
</script>