
@{
    ViewBag.Title = "用户管理";
    Layout = "~/Views/Shared/_BaseContent.cshtml";
}

<table id="tt"></table>
<script>
    $(function () {
        Query();
    });
    function Query() {
        $("#tt").datagrid({
            url: '/User/GetList',
            columns: [[
                { field: 'Uid', title: 'Uid' },
                { field: 'Name', title: 'Name' },
                { field: 'LoginName', title: 'LoginName' },
                { field: 'RoleId', title: 'RoleId' }
            ]],
            fitColumns: true,//	设置为 true，则会自动扩大或缩小列的尺寸以适应网格的宽度并且防止水平滚动。
            resizeHandle: 'right',//调整列的位置，可用的值有：'left'、'right'、'both'。当设置为 'right' 时，用户可通过拖拽列头部的右边缘来调整列。该属性自版本 1.3.2 起可用。
            autoRowHeight: false,//定义是否设置基于该行内容的行高度。设置为 false，则可以提高加载性能。
            striped: true,//设置为 true，则把行条纹化。（即奇偶行使用不同背景色）
            nowrap: true,//设置为 true，则把数据显示在一行里。设置为 true 可提高加载性能。
            singleSelect: true,
            toolbar: [{
                iconCls: 'icon-add',
                text: '新增',
                handler: function () {
                    EditUser(0);
                }
            }, '-', {
                iconCls: 'icon-edit',
                text: '修改',
                handler: function () {
                    var row = $("#tt").datagrid("getSelected");
                    if (row == null) {
                        AlertMsg("请选择一行数据后再操作");
                        return;
                    }
                    EditUser(row.Uid);
                }
            }, '-', {
                iconCls: 'icon-clear',
                text: '删除',
                handler: function () {
                    var row = $("#tt").datagrid("getSelected");
                    if (row == null) {
                        AlertMsg("请选择一行数据后再操作");
                        return;
                    }
                    DelUser(row.Uid);
                }
            }],
            pagination: true,
            pageSize: 20,
            idField: 'id',
            rownumbers: true,
            fit: true,
            queryParams: {
                username: ""
            }
        });
    }
    function GridReload(loaded) {
        $("#tt").datagrid(loaded);
    }
    var isAdd = false;
    function EditUser(uid) {
        if (uid == 0)
            isAdd = true;
        else
            isAdd = false;
        ShowDialog("用户管理", 500, 400, "/User/EditUser?uid=" + uid, saveUser);
    }
    function DelUser(uid) {
        $.messager.confirm('提示', "确定要删除吗？", function (r) {
            if (r) {
                $.post("/User/DelUser", { uid: uid }, function (result) {
                    if (result.isOk) {
                        AlertMsg("删除成功");
                        GridReload("reload");
                    }
                    else {
                        AlertMsg('删除失败');
                    }
                });
            }
        });
    }
    function saveUser() {
        var check = $("#formUserEidt").form('enableValidation').form('validate');
        if (check) {
            var postData = $("#formUserEidt").serialize();
            $.post("/User/SaveUser", postData, function (result) {
                if (result.isOk) {
                    $('#PopWindow').dialog('close');
                    $("#PopWindow").remove();
                    GridReload(isAdd ? "load" : "reload");
                }
                else {
                    alert('保存失败');
                }

            });
        }
    }
</script>
