
@{
    ViewBag.Title = "UpDownload";
    Layout = "~/Views/Shared/_BaseContent.cshtml";
}

<form action="~/OperFile/UploadFile" method="post" enctype="multipart/form-data">
    <input type="file" name="file" /><br />
    <input type="submit" value="提交" />
    @ViewBag.msg
</form>
<p>上传文件列表</p>


