@{
    ViewBag.Title = "UpDownload";
    Layout = "~/Views/Shared/_BaseContent.cshtml";
}
@using Zzh.Backend.Models;
@model Zzh.Backend.Controllers.Demo.OperFileController.FileModesObj
<style type="text/css">
    .div_obj {
        float: left;
        width: 100px;
        height: 100px;
        margin: 10px;
    }
</style>
<form action="~/OperFile/UploadFile" method="post" enctype="multipart/form-data">
    <input type="file" name="filePara" /><br />
    <input type="submit" value="提交" />
    @ViewBag.msg
</form>
<p>上传文件列表</p>
<div>
    @foreach (JTFileModel file in Model.List)
    {
        <div class="div_obj">@file.Name</div>
    }
</div>


