
@{
    ViewBag.Title = "用户管理";
    Layout = "~/Views/Shared/_BaseContent.cshtml";
}

<table id="tt"></table>
<script>
    $(function () {
        InitGrid();
    });
    function InitGrid() {
        $("#tt").datagrid({
            url: '/User/GetList',
            columns: [[
                { field: 'Uid', title: 'ID', width: 50 },
                { field: 'Name', title: '姓名', width: 100 },
                { field: 'LoginName', title: '登录名', width: 100 },
                { field: 'RoleName', title: '所属角色', width: 100 },
            ]],
            autoRowHeight: false,//定义是否设置基于该行内容的行高度。设置为 false，则可以提高加载性能。
            striped: true,//设置为 true，则把行条纹化。（即奇偶行使用不同背景色）
            nowrap: true,//设置为 true，则把数据显示在一行里。设置为 true 可提高加载性能。
            singleSelect: true,
            toolbar: [{
                iconCls: 'icon-add',
                id:'btnAdd',
                text: '新增',
                handler: function () {
                    EditUser(0);
                }
            }, {
                iconCls: 'icon-edit',
                id: 'btnEdit',
                text: '修改',
                handler: function () {
                    var row = $("#tt").datagrid("getSelected");
                    if (row == null) {
                        AlertMsg("请选择一行数据后再操作");
                        return;
                    }
                    EditUser(row.Uid);
                }
            }, {
                iconCls: 'icon-clear',
                id:'btnDelete',
                text: '删除',
                handler: function () {
                    var row = $("#tt").datagrid("getSelected");
                    if (row == null) {
                        AlertMsg("请选择一行数据后再操作");
                        return;
                    }
                    DelUser(row.Uid);
                }
            }, {
                text:'用户名：<input type="text" id="txtUserNameQ" style="width:120px;" />'
            }, {
                iconCls: 'icon-search',
                id:'btnSearch',
                text: '查询',
                handler: function () {
                    GridReload("load");
                }
            }],
            pagination: true,
            pageSize: 20,
            idField: 'Uid',
            rownumbers: true,
            fit: true,
            queryParams: {
                userName: ""
            }
        });
    }
    function GridReload(loaded) {
        $("#tt").datagrid(loaded, {
            userName: $("#txtUserNameQ").val()
        });
    }
    var isAdd = false;
    function EditUser(uid) {
        if (uid == 0)
            isAdd = true;
        else
            isAdd = false;
        ShowDialog("用户管理", 600, 400, "/User/EditUser?uid=" + uid, saveUser);
    }
    function DelUser(uid) {
        $.messager.confirm('提示', "确定要删除吗？", function (r) {
            if (r) {
                $.post("/User/DelUser", { uid: uid }, function (result) {
                    if (result.isOk) {
                        AlertMsg("删除成功");
                        GridReload("reload");
                    }
                    else {
                        AlertMsg('删除失败');
                    }
                });
            }
        });
    }
    function saveUser() {
        var check = $("#formUserEidt").form('enableValidation').form('validate');
        if (check) {
            var postData = $("#formUserEidt").serialize();
            $.post("/User/SaveUser", postData, function (result) {
                if (result.isOk) {
                    $('#PopWindow').dialog('close');
                    $("#PopWindow").remove();
                    GridReload(isAdd ? "load" : "reload");
                }
                else {
                    alert('保存失败');
                }

            });
        }
    }
</script>
