
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BaseContent.cshtml";
}

<div id="tb">
    <a class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="EditData(0)">新增</a>
    <a class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" onclick="EditData(1)">修改</a>
    <a class="easyui-linkbutton" data-options="iconCls:'icon-clear',plain:true" onclick="DelMenuOper()">删除</a>
    <input class="easyui-textbox" id="txtMenuList" />
    <a class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true" onclick="GridReload('load')">查询</a>
</div>
<table id="tt"></table>
<script type="text/javascript">
    $(function () {
        bindChildMenu();
        InitGrid();
    });
    function InitGrid() {
        $("#tt").datagrid({
            url: '/MenuOper/GetListPager',
            columns: [[
                { field: 'MenuOperId', title: '菜单操作ID', hidden: true },
                { field: 'MenuName', title: '菜单名称', width: 120 },
                { field: 'MenuOperBtnID', title: '菜单操作ID', width: 120 },
                { field: 'MenuOperBtnName', title: '操作按钮名称', width: 120 }
            ]],
            autoRowHeight: false,//定义是否设置基于该行内容的行高度。设置为 false，则可以提高加载性能。
            striped: true,//设置为 true，则把行条纹化。（即奇偶行使用不同背景色）
            nowrap: true,//设置为 true，则把数据显示在一行里。设置为 true 可提高加载性能。
            singleSelect: true,
            toolbar: 'tb',
            pagination: true,
            pageSize: 20,
            idField: 'MenuOperId',
            rownumbers: true,
            fit: true,
            queryParams: {
                menuId: 0
            }
        });
    }
    function bindChildMenu() {
        $("#txtMenuList").combobox({
            url: '/Menu/GetAllChildMeunList?isAddAll=1',
            valueField: 'MenuId',
            textField: 'MenuName',
            onLoadSuccess: function () {
                $("#txtMenuList").combobox("select", 0);
            }
        });
    }
    function GridReload(loaded) {
        $("#tt").datagrid(loaded, {
            menuId: $("#txtMenuList").combobox("getValue")
        });
    }
    var isAdd = false;
    function EditData(menuOperId) {
        if (menuOperId == 0)
            isAdd = true;
        else {
            var row = $("#tt").datagrid("getSelected");
            if (row == null) {
                AlertMsg("请选择一行数据后再操作");
                return;
            }
            menuOperId = row.MenuOperId;
            isAdd = false;
        }
        ShowDialog("菜单操作管理", 600, 400, "/MenuOper/EditMeunOper?MenuOperId=" + menuOperId, saveData);
    }
    function saveData() {
        var check = $("#formMenuOperEidt").form('enableValidation').form('validate');
        if (check) {
            var postData = $("#formMenuOperEidt").serializeObject(); //将表单序列化为JSON对象（自定义扩展方法，在Common.js中定义）
            var menuID = $("#cmbMenuChildList").combobox("getValue");
            var parentMenuID = $("#cmbMenuParentList").combobox("getValue");
            postData.MenuId = menuID;
            postData.MenuParentID = parentMenuID;
            $.post("/MenuOper/Save", postData, function (result) {
                if (result.isOk) {
                    AlertMsg('保存成功');
                    GridReload(isAdd ? "load" : "reload");
                }
                else {
                    alert('保存失败');
                }
                $('#PopWindow').dialog('close');
                $("#PopWindow").remove();
            });
        }
    }
    function DelMenuOper() {
        var row = $("#tt").datagrid("getSelected");
        if (row == null) {
            AlertMsg("请选择一行数据后再操作");
            return;
        }
        $.messager.confirm('提示', '确定要删除吗？', function (r) {
            if (r)
                $.post("/MenuOper/DelMenuOper", { MenuOperID: row.MenuOperId }, function (result) {
                    if (result.isOk) {
                        AlertMsg("删除成功");
                        GridReload("reload");
                        $("#tt").datagrid("clearSelections");//因为reload/load后不会清除选择项,getSelected的值还是原索引
                    }
                    else {
                        AlertMsg('删除失败');
                    }
                });
        });
    }
</script>
