
@{
    ViewBag.Title = "个人任务列表";
    Layout = "~/Views/Shared/_BaseContent.cshtml";
}
<table id="tt"></table>
<div id="tb">
    <a class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="EditPersonTask(0)">发布</a>
    <a class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" onclick="EditPersonTask(1)">修改</a>
    <a class="easyui-linkbutton" data-options="iconCls:'icon-clear',plain:true" onclick="DelTask()">删除</a>
    <div class="datagrid-btn-separator" style="vertical-align: middle;display:inline-block;float:none"></div>
    <a class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="TaskProcess()">任务过程</a>
    <div class="datagrid-btn-separator" style="vertical-align: middle;display:inline-block;float:none"></div>
    
    <a href="javascript:void(0)" id="mb" class="easyui-menubutton"
       data-options="menu:'#mm',iconCls:'icon-edit'">快速标记</a>
    <div id="mm" style="width:150px;">
        <div data-options="iconCls:'icon-state_nostart'" state="1">未开始</div>
        <div data-options="iconCls:'icon-state_handing'" state="2">解决中</div>
        <div data-options="iconCls:'icon-state_ok'" state="3">已完成</div>
        <div data-options="iconCls:'icon-state_bug'" state="4">完成但是存在问题</div>
        <div data-options="iconCls:'icon-state_drop'" state="5">放弃</div>
    </div>
    <div class="datagrid-btn-separator" style="vertical-align: middle;display:inline-block;float:none"></div>
    <span class="l-btn-text">项目：</span><input class="easyui-textbox" id="txtItemQ" style="width:120px;" />
    <span class="l-btn-text">状态：</span><input class="easyui-textbox" id="txtStatusQ" style="width:120px;" />
    <a class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true" onclick="GridReload('load')">查询</a>
</div>
<script>
    $(function () {
        InitCombobox();
        InitGrid();
        $("#mm").menu({
            onClick: function (item) {
                var state = $(item.target).attr("state");
                FastSign(state);
            }
        });
    });
    function FastSign(state) {
        var selectedRow = dataGrid.IsSelectDataGrid_Tip("tt");
        if (selectedRow == null)
            return;
        $.post("/PersonTask/FastSign", { taskID: selectedRow.ID, taskStatus: state }, function (result) {
            if (result.isOk) {
                GridReload("reload");
                AlertMsg('标记成功');
            } else {
                AlertMsg('标记失败，' + result.msg);
            }
        });
    }
    function InitCombobox() {
        $("#txtItemQ").combobox({
            url: '/Items/GetAllItems?isAddAll=1',
            valueField: 'ItemID',
            textField: 'NAME',
            onLoadSuccess: function () {
                $("#txtItemQ").combobox("select", "");
            }
        });
        $("#txtStatusQ").combobox({
            url: '/PersonTask/GetAllTaskStatus?isAddAll=1',
            valueField: 'id',
            textField: 'name',
            onLoadSuccess: function () {
                $("#txtStatusQ").combobox("select", 0);
            }
        });
    }
    function InitGrid() {
        $("#tt").datagrid({
            url: '/PersonTask/GetMyTaskList',
            columns: [[
                { field: 'ID', title: 'ID', width: 50, hidden: true },
                { field: 'JIRID', title: 'JIRID', width: 80, hidden: true },
                { field: 'ItemName', title: '项目名称', width: 100 },
                { field: 'ProdName', title: '产品名称', width: 150 },
                { field: 'taskTypeName', title: '任务类型', width: 80, align: 'center' },
                { field: 'taskStatusName', title: '当前任务状态', width: 100, align: 'center' },
                { field: 'moduleName', title: '所属模块' },
                {
                    field: 'detail', title: '任务描述', width: 300, formatter: function (value, row, index) {
                        var content = '<a title="' + value + '" class="easyui-tooltip" style="text-decoration:none">' + value + '</a>';
                        return content;
                    }
                },
                { field: 'perdStartTime', title: '预计开始时间', width: 110 },
                { field: 'predDeadTime', title: '预期完成时间', width: 110 },
                { field: 'publisherName', title: '发布人' },
                { field: 'handlerName', title: '处理人' },
                { field: 'followerName', title: '跟踪人' },
                { field: 'complTime', title: '完成时间', width: 110 },
                { field: 'taskComplDegreeName', title: '任务完成程度', width: 100 },
                { field: 'serviceAttriName', title: '服务态度', width: 100 },
                { field: 'complSpeedName', title: '完成速度', width: 100 },
                { field: 'taskDiffLevelName', title: '任务困难程度', width: 100 },
                { field: 'evaDesc', title: '评价描述', width: 100 },
                { field: 'remark', title: '备注', width: 100 },
            ]],
            autoRowHeight: false,//定义是否设置基于该行内容的行高度。设置为 false，则可以提高加载性能。
            striped: true,//设置为 true，则把行条纹化。（即奇偶行使用不同背景色）
            nowrap: true,//设置为 true，则把数据显示在一行里。设置为 true 可提高加载性能。
            singleSelect: true,
            toolbar: '#tb',
            pagination: true,
            pageSize: 20,
            idField: 'ID',
            rownumbers: true,
            fit: true,
            queryParams: {
                itemId: "",
                taskStatus:0
            }
        });
    }
    function GridReload(loaded) {
        $("#tt").datagrid(loaded, {
            itemId: $("#txtItemQ").combobox('getValue'),
            taskStatus: $("#txtStatusQ").combobox('getValue'),
        });
    }
    var isAdd = false;
    function EditPersonTask(id) {
        if (id == 0)
            isAdd = true;
        else {
            var row = $("#tt").datagrid("getSelected");
            if (row == null) {
                AlertMsg("请选择一行数据后再操作");
                return;
            }
            id = row.ID;
            isAdd = false;
        }
        ShowDialog("个人任务发布", 800, 500, "/PersonTask/MyTaskPublishEdit?taskId=" + id, saveTask);
    }
    function DelTask() {
        var row = $("#tt").datagrid("getSelected");
        if (row == null) {
            AlertMsg("请选择一行数据后再操作");
            return;
        }
        $.messager.confirm('提示', "确定要删除吗？", function (r) {
            if (r) {
                $.post("/PersonTask/DelTask", { id: row.ID }, function (result) {
                    if (result.isOk) {
                        AlertMsg("删除成功");
                        GridReload("reload");
                    }
                    else {
                        AlertMsg('删除失败');
                    }
                });
            }
        });
    }
    function saveTask() {
        var check = $("#formMyTaskPublishEidt").form('enableValidation').form('validate');
        if (check) {
            var postData = $("#formMyTaskPublishEidt").serialize();
            $.post("/PersonTask/SaveTask", postData, function (result) {
                if (result.isOk) {
                    $('#PopWindow').dialog('close');
                    $("#PopWindow").remove();
                    GridReload(isAdd ? "load" : "reload");
                }
                else {
                    AlertMsg('保存失败');
                }

            });
        }
    }
    function TaskProcess() {
        var row = $("#tt").datagrid("getSelected");
        if (row == null) {
            AlertMsg("请选择一行数据后再操作");
            return;
        }
        ShowDialogNoSaveCancel("任务过程", 800, 500, "/PersonTask/TaskProcessEdit");
    }
</script>

