
@{
    ViewBag.Title = "任务发布";
    Layout = "~/Views/Shared/_BaseContent.cshtml";
}

<table id="tt"></table>
<div id="tb">
    <a class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="EditPersonTask(0)">发布</a>
    <a class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" onclick="EditPersonTask(1)">修改</a>
    <a class="easyui-linkbutton" data-options="iconCls:'icon-clear',plain:true" onclick="DelTask()">删除</a>
    <a class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="TaskProcess()">任务过程</a>
    <span class="l-btn-text">项目：</span><input class="easyui-textbox" id="txtItemQ" style="width:120px;" />
    <span class="l-btn-text">处理人：</span><input class="easyui-textbox" id="txtHandlerIDQ" style="width:100px;" />
    <a class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true" onclick="GridReload('load')">查询</a>
</div>
<script>
    $(function () {
        InitCombobox();
        InitGrid();
    });
    function InitCombobox() {
        $("#txtHandlerIDQ").combobox({
            url: '/User/GetAllUsers?isAddAll=1',
            valueField: 'Uid',
            textField: 'Name',
            onLoadSuccess: function () {
                $("#txtHandlerIDQ").combobox("select", 0);
            }
        });
        $("#txtItemQ").combobox({
            url: '/Items/GetAllItems?isAddAll=1',
            valueField: 'ItemID',
            textField: 'NAME',
            onLoadSuccess: function () {
                $("#txtItemQ").combobox("select", "");
            }
        });
    }
    function InitGrid() {
        $("#tt").datagrid({
            url: '/PersonTask/GetList',
            columns: [[
                { field: 'ID', title: 'ID', width: 50, hidden: true },
                { field: 'JIRID', title: 'JIRID', width: 80, hidden: true },
                { field: 'ItemName', title: '项目名称', width: 100 },
                { field: 'ProdName', title: '产品名称', width: 150 },
                { field: 'taskTypeName', title: '任务类型', width: 80, align: 'center' },
                { field: 'taskStatusName', title: '当前任务状态', width: 100, align: 'center' },
                {field:'moduleName',title:'所属模块'},
                {
                    field: 'detail', title: '任务描述', width: 300, formatter: function (value, row, index) {
                        var content = '<a title="' + value + '" class="easyui-tooltip">' + value + '</a>';
                        return content;
                    }
                },
                { field: 'perdStartTime', title: '预计开始时间', width: 110 },
                { field: 'predDeadTime', title: '预期完成时间', width: 110 },
                { field: 'publisherName', title: '发布人', width: 100 },
                { field: 'handlerName', title: '处理人', width: 100 },
                { field: 'followerName', title: '跟踪人', width: 100 },
                { field: 'complTime', title: '完成时间', width: 110 },
                { field: 'taskComplDegreeName', title: '任务完成程度', width: 100 },
                { field: 'serviceAttriName', title: '服务态度', width: 100 },
                { field: 'complSpeedName', title: '完成速度', width: 100 },
                { field: 'taskDiffLevelName', title: '任务困难程度', width: 100 },
                { field: 'evaDesc', title: '评价描述', width: 100 },
                          { field: 'remark', title: '备注', width: 100 },
            ]],
            autoRowHeight: false,//定义是否设置基于该行内容的行高度。设置为 false，则可以提高加载性能。
            striped: true,//设置为 true，则把行条纹化。（即奇偶行使用不同背景色）
            nowrap: true,//设置为 true，则把数据显示在一行里。设置为 true 可提高加载性能。
            singleSelect: true,
            toolbar: '#tb',
            pagination: true,
            pageSize: 20,
            idField: 'ID',
            rownumbers: true,
            fit: true,
            queryParams: {
                handlerId: 0,
                itemId:""
            }
        });
    }
    function GridReload(loaded) {
        $("#tt").datagrid(loaded, {
            handlerId: $("#txtHandlerIDQ").combobox('getValue'),
            itemId: $("#txtItemQ").combobox('getValue')
        });
    }
    var isAdd = false;
    function EditPersonTask(id) {
        if (id == 0)
            isAdd = true;
        else {
            var row = $("#tt").datagrid("getSelected");
            if (row == null) {
                AlertMsg("请选择一行数据后再操作");
                return;
            }
            id = row.ID;
            isAdd = false;
        }
        ShowDialog("任务发布", 800, 500, "/PersonTask/TaskPublishEdit?id=" + id, saveTask);
    }
    function DelTask() {
        var row = $("#tt").datagrid("getSelected");
        if (row == null) {
            AlertMsg("请选择一行数据后再操作");
            return;
        }
        $.messager.confirm('提示', "确定要删除吗？", function (r) {
            if (r) {
                $.post("/PersonTask/DelTask", { id: row.ID }, function (result) {
                    if (result.isOk) {
                        AlertMsg("删除成功");
                        GridReload("reload");
                    }
                    else {
                        AlertMsg('删除失败');
                    }
                });
            }
        });
    }
    function saveTask() {
        var check = $("#formTaskPublishEidt").form('enableValidation').form('validate');
        if (check) {
            var postData = $("#formTaskPublishEidt").serialize();
            $.post("/PersonTask/SaveTask", postData, function (result) {
                if (result.isOk) {
                    $('#PopWindow').dialog('close');
                    $("#PopWindow").remove();
                    GridReload(isAdd ? "load" : "reload");
                }
                else {
                    AlertMsg('保存失败');
                }

            });
        }
    }
    function TaskProcess() {
        var row = $("#tt").datagrid("getSelected");
        if (row == null) {
            AlertMsg("请选择一行数据后再操作");
            return;
        }
        ShowDialogNoSaveCancel("任务过程", 800, 500, "/PersonTask/TaskProcessEdit");
    }
</script>
