@model SHWY.PMS.Controllers.PersonTaskController.TaskQueryViewModel
@{
    ViewBag.Title = "任务查询";
    Layout = "~/Views/Shared/_BaseContent.cshtml";
}

<table id="tt"></table>
<div id="tb" style="padding:5px;height:auto;">
    <div style="margin-bottom:5px">
        <a class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" onclick="EditPersonTask(1)">详情</a>
        <a class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="TaskProcess()">任务过程</a>
        <a class="easyui-linkbutton" data-options="iconCls:'icon-dayrep',plain:true" onclick="ReportShowUser('daily')">日报统计</a>
        <a class="easyui-linkbutton" data-options="iconCls:'icon-weekrep',plain:true" onclick="ReportShowUser('weekly')">周报统计</a>
        <a class="easyui-linkbutton" data-options="iconCls:'icon-monthrep',plain:true" onclick="ReportShowUser('monthly')">月报统计</a>
    </div>
    <div>
        <span class="l-btn-text">项目：</span><input class="easyui-textbox" id="txtItemQ" style="width:120px;" />
        <span class="l-btn-text">产品：</span><input class="easyui-textbox" id="txtProdQ" style="width:140px;" />
        <span class="l-btn-text">状态：</span><input class="easyui-textbox" id="txtStatusQ" style="width:100px;" />
        <span class="l-btn-text">处理人：</span><input class="easyui-textbox" id="txtHandlerIDQ" style="width:80px;" />
        <span class="l-btn-text">开始时间：</span><input class="easyui-datebox" id="txtPublishFrom" style="width:100px;" />
        <span class="l-btn-text">结束时间：</span><input class="easyui-datebox" id="txtPublishTo" style="width:100px;" />
        <a class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true" onclick="GridReload('load')">查询</a>
    </div>
</div>
<div id="w_showUser" class="easyui-window" title="人员" data-options="iconCls:'icon-man',closed:'true'" style="width:500px;height:255px;padding:5px;">
    <div class="easyui-layout" data-options="fit:true">
        <div data-options="region:'center'" style="padding:10px;">
            @foreach (var item in Model.userList)
            {
                if (item.Uid == Model.currentUserID)
                {
                    <div style="margin-bottom:10px;float:left;">
                        <input class="easyui-checkbox" name="user" value="@item.Uid" label="@item.Name" labelPosition="after" checked="checked">
                    </div>
                }
                else
                {
                    <div style="margin-bottom:10px;float:left;">
                        <input class="easyui-checkbox" name="user" value="@item.Uid" label="@item.Name" labelPosition="after">
                    </div>
                }
            }
        </div>
        <div data-options="region:'south',border:false" style="text-align:right;padding:5px 0 0;">
            统计日期：<input class="easyui-datebox" id="txtReportDate" style="width:100px;" />
            <a class="easyui-linkbutton" data-options="iconCls:'icon-ok'" href="javascript:void(0)" onclick="ShowReport()" style="width:80px">Ok</a>
            <a class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" href="javascript:void(0)" onclick="Win_User('close')" style="width:80px">Cancel</a>
        </div>
    </div>
    <div id="ddShowReport"></div>
</div>
<div id="dd" class="easyui-window" title="My Dialog" style="width:500px;height:255px;"
     data-options="iconCls:'icon-save',resizable:true,modal:true,closed:'true'">
    <p id="showReport"></p>
</div>
<script type="text/javascript">
    $(function () {
        InitCombobox();
        InitGrid();
    });
    var reportType = "";
    function ReportShowUser(type) {
        reportType = type;
        Win_User('open');
    }
    function Win_User(openOrClose) {
        $("#w_showUser").window(openOrClose);
    }
    function GetCheckUser() {
        var ids = [];
        var checkUser = $('input[name=user]:checked');
        $.each(checkUser, function () {
            ids.push($(this).val());
        });
        return ids;
    }
    function ShowReport() {
        debugger;
        var userIds = GetCheckUser();
        if (userIds.length == 0) {
            AlertMsg('请选择人员');
            return;
        }
        var cdate = $("#txtReportDate").datebox('getValue')
        if (cdate == "") {
            AlertMsg('请选择统计日期');
            return;
        }
        $.post("/PersonTask/GetReport", { type: reportType, userIDs: userIds, reportDate: cdate }, function (result) {
            Win_User('close');
            if (result) {
                $("#showReport").html(result);
                $('#dd').window({
                    title: reportType
                });
                $('#dd').window('open');
            }
        });
    }
    function InitCombobox() {
        $("#txtHandlerIDQ").combobox({
            url: '/User/GetAllUsers?isAddAll=1',
            valueField: 'Uid',
            textField: 'Name',
            editable: false,
            onLoadSuccess: function () {
                $("#txtHandlerIDQ").combobox("select", 0);
            }
        });
        $("#txtItemQ").combobox({
            url: '/Items/GetAllItems?isAddAll=1',
            valueField: 'ItemID',
            textField: 'NAME',
            onLoadSuccess: function () {
                $("#txtItemQ").combobox("select", "");
            }
        });
        $("#txtProdQ").combobox({
            url: '/Product/GetAllProds?isAddAll=1',
            valueField: 'ProID',
            textField: 'NAME',
            editable: false,
            onLoadSuccess: function () {
                $("#txtProdQ").combobox("select", "");
            }
        });
        $("#txtStatusQ").combobox({
            url: '/PersonTask/GetAllTaskStatus?isAddAll=1',
            valueField: 'id',
            textField: 'name',
            editable: false,
            onLoadSuccess: function () {
                $("#txtStatusQ").combobox("select", 0);
            }
        });
    }
    function InitGrid() {
        $("#tt").datagrid({
            url: '/PersonTask/GetList',
            columns: [[
                { field: 'ID', title: 'ID', width: 50, hidden: true },
                { field: 'JIRID', title: 'JIRID', width: 80, hidden: true },
                { field: 'ItemName', title: '项目名称', width: 100 },
                { field: 'ProdName', title: '产品名称', width: 150 },
                { field: 'taskTypeName', title: '任务类型', width: 80, align: 'center' },
                { field: 'taskStatusName', title: '当前任务状态', width: 100, align: 'center' },
                {
                    field: 'detail', title: '任务描述', width: 300, formatter: function (value, row, index) {
                        var content = '<a title="' + value + '" class="easyui-tooltip">' + value + '</a>';
                        return content;
                    }
                },
                { field: 'perdStartTime', title: '预计开始时间', width: 110 },
                { field: 'predDeadTime', title: '预期完成时间', width: 110 },
                { field: 'publisherName', title: '发布人', width: 100 },
                { field: 'handlerName', title: '处理人', width: 100 },
                { field: 'followerName', title: '跟踪人', width: 100 },
                { field: 'complTime', title: '完成时间', width: 110 },
                { field: 'taskComplDegreeName', title: '任务完成程度', width: 100 },
                { field: 'serviceAttriName', title: '服务态度', width: 100 },
                { field: 'complSpeedName', title: '完成速度', width: 100 },
                { field: 'taskDiffLevelName', title: '任务困难程度', width: 100 },
                { field: 'evaDesc', title: '评价描述', width: 100 },
                          { field: 'remark', title: '备注', width: 100 },
            ]],
            autoRowHeight: false,//定义是否设置基于该行内容的行高度。设置为 false，则可以提高加载性能。
            striped: true,//设置为 true，则把行条纹化。（即奇偶行使用不同背景色）
            nowrap: true,//设置为 true，则把数据显示在一行里。设置为 true 可提高加载性能。
            singleSelect: true,
            toolbar: '#tb',
            pagination: true,
            pageSize: 20,
            idField: 'ID',
            rownumbers: true,
            fit: true,
            queryParams: {
                handlerId: 0,
                itemId: "",
                prodId: "",
                taskStatus: "",
                publishForm: "",
                publishTo: ""
            }
        });
    }
    function GridReload(loaded) {
        $("#tt").datagrid(loaded, {
            handlerId: $("#txtHandlerIDQ").combobox('getValue'),
            itemId: $("#txtItemQ").combobox('getValue'),
            prodId: $("#txtProdQ").combobox('getValue'),
            taskStatus: $("#txtStatusQ").combobox('getValue'),
            publishForm: $("#txtPublishFrom").datebox('getValue'),
            publishTo: $("#txtPublishTo").datebox('getValue')
        });
    }
    var isAdd = false;
    function EditPersonTask(id) {
        if (id == 0)
            isAdd = true;
        else {
            var row = $("#tt").datagrid("getSelected");
            if (row == null) {
                AlertMsg("请选择一行数据后再操作");
                return;
            }
            id = row.ID;
            isAdd = false;
        }
        ShowDialog("任务发布", 800, 500, "/PersonTask/TaskPublishEdit?id=" + id, saveTask);
    }
    function DelTask() {
        var row = $("#tt").datagrid("getSelected");
        if (row == null) {
            AlertMsg("请选择一行数据后再操作");
            return;
        }
        $.messager.confirm('提示', "确定要删除吗？", function (r) {
            if (r) {
                $.post("/PersonTask/DelTask", { id: row.ID }, function (result) {
                    if (result.isOk) {
                        AlertMsg("删除成功");
                        GridReload("reload");
                    }
                    else {
                        AlertMsg('删除失败');
                    }
                });
            }
        });
    }
    function saveTask() {
        var check = $("#formTaskPublishEidt").form('enableValidation').form('validate');
        if (check) {
            var postData = $("#formTaskPublishEidt").serialize();
            $.post("/PersonTask/SaveTask", postData, function (result) {
                if (result.isOk) {
                    $('#PopWindow').dialog('close');
                    $("#PopWindow").remove();
                    GridReload(isAdd ? "load" : "reload");
                }
                else {
                    AlertMsg('保存失败');
                }

            });
        }
    }
    function TaskProcess() {
        var row = $("#tt").datagrid("getSelected");
        if (row == null) {
            AlertMsg("请选择一行数据后再操作");
            return;
        }
        ShowDialogNoSaveCancel("任务过程", 800, 500, "/PersonTask/TaskProcessEdit");
    }
</script>
