@model SHWY.Model.DB.EntAppAsnHead
@{
    ViewBag.Title = "EditAsn";
    Layout = "~/Views/Shared/_BaseContent.cshtml";
}
<form id="FormEditAsn">
    <table>
        <tr>
            <td>
                @Html.LabelFor(p => p.Bill_No_Split)：
            </td>
            <td>
                @Html.TextBoxFor(p => p.Bill_No_Split, new { @class = "easyui-textbox", data_options = "required:true" })
            </td>
        </tr>
    </table>
    @Html.HiddenFor(p => p.id)
</form>
