
@{
    ViewBag.Title = "菜单管理";
    Layout = "~/Views/Shared/_BaseContent.cshtml";
}
<table id="tt"></table>
<div id="tb">
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="EditMenu(0)">新增</a>
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" onclick="GetSelect('edit')">修改</a>
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-clear',plain:true" onclick="GetSelect('del')">删除</a>
    <span>
        父菜单:
    </span>
    <input class="easyui-textbox" id="cmbParentMenu">
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true" onclick="GridReload('load')">搜索</a>
</div>
<script>
    $(function () {
        bindGrid();
        InitGrid();
    });
    function bindGrid() {
        $("#cmbParentMenu").combobox({
            url: '/Menu/GetParentMenuList?isAddAll=1',
            valueField: 'MenuId',
            textField: 'MenuName'
        });
        $("#cmbParentMenu").combobox("select", 0);
    }
    function InitGrid() {
        $("#tt").treegrid({
            url: '/Menu/GetTreeList',
            idField: 'MenuId',
            treeField: 'MenuName',
            columns: [[
                { field: 'MenuId', title: '菜单ID', width: 70 },
                { field: 'MenuName', title: '菜单名称', width: 160 },
                { field: 'MenuUrl', title: '链接地址', width: 200 },
                { field: 'MenuSortID', title: '排序', width: 70 }
            ]],
            animate:true,
            autoRowHeight: false,//定义是否设置基于该行内容的行高度。设置为 false，则可以提高加载性能。
            striped: true,//设置为 true，则把行条纹化。（即奇偶行使用不同背景色）
            nowrap: true,//设置为 true，则把数据显示在一行里。设置为 true 可提高加载性能。
            singleSelect: true,
            toolbar: '#tb',
            pagination: false,
            //pageSize: 20,
            rownumbers: true,
            fit: true,
            queryParams: {
                menuName: "",
                parentId: 0
            }
        });
    }
    function GridReload(loaded) {
        $("#tt").treegrid(loaded, {
            menuName: "",
            parentId: $('#cmbParentMenu').combobox("getValue")
        });
    }
    function GetSelect(type) {
        var selectRow = $("#tt").treegrid("getSelected");
        if (selectRow == null) {
            AlertMsg("请选择一行数据后再操作");
            return;
        }
        if (type == "edit")
            EditMenu(selectRow.MenuId);
        else if (type == "del")
            DelMenu(selectRow.MenuId);
    }
    var isAdd = false;
    function EditMenu(Mid) {
        if (Mid == 0)
            isAdd = true;
        else
            isAdd = false;
        ShowDialog("菜单管理", 600, 400, "/Menu/EditMenu?mid=" + Mid, saveMenu);
    }
    function DelMenu(mid) {
        $.messager.confirm('提示', "确定要删除吗？", function (r) {
            if (r) {
                $.post("/Menu/DelMenu", { mid: mid }, function (result) {
                    if (result.isOk) {
                        AlertMsg("删除成功");
                        GridReload("reload");
                        $("#tt").treegrid("clearSelections");//因为reload/load后不会清除选择项

                    }
                    else {
                        AlertMsg('删除失败');
                    }
                });
            }
        });
    }
    function saveMenu() {
        var check = $("#formMenuEidt").form('validate');
        if (check) {
            var postData = $("#formMenuEidt").serialize();
            $.post("/Menu/SaveMenu", postData, function (result) {
                if (result.isOk) {
                    $('#PopWindow').dialog('close');
                    $("#PopWindow").remove();
                    GridReload(isAdd ? "load" : "reload");
                }
                else {
                    alert('保存失败');
                }

            });
        }
    }
</script>