
@{
    ViewBag.Title = "IP地址管理";
    Layout = "~/Views/Shared/_BaseContent.cshtml";
}

<table id="tt"></table>
<div id="tb">
    <a class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="EditIpAddress(0)">新增</a>
    <a class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" onclick="EditIpAddress(1)">修改</a>
    <a class="easyui-linkbutton" data-options="iconCls:'icon-clear',plain:true" onclick="DelIpAddress()">删除</a>
    <span class="l-btn-text">甲方公司：</span><input class="easyui-textbox" id="txtPartyQ" style="width:150px;" />
    <span class="l-btn-text">内外网：</span>
    <select id="txtbeLongQ" class="easyui-combobox" name="txtbeLongQ" style="width:100px;">
        <option value="-1" selected="selected">全部</option>
        <option value="0">内网</option>
        <option value="1">外网</option>
    </select>
    <span class="l-btn-text">IP地址：</span><input class="easyui-textbox" id="txtIpAddressQ" style="width:100px;" />
    <a class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true" onclick="GridReload('load')">查询</a>
</div>
<script type="text/javascript">
    $(function () {
        InitCombobox();
        InitGrid();
    });
    function InitCombobox() {
        $("#txtPartyQ").combobox({
            url: '/Party/GetAllPartys?isAddAll=1',
            valueField: 'PartyID',
            textField: 'name'
        });
        $("#txtPartyQ").combobox("select", "");
    }
    function InitGrid() {
        $("#tt").datagrid({
            url: '/Server/GetIpAddressList',
            columns: [[
                { field: 'partyName', title: '甲方公司' },
                { field: 'ipid', title: 'IpID', width: 80,hidden:true },
                { field: 'ipv4address', title: 'IP4地址', width: 150 },
                { field: 'ipv6address', title: 'IP6地址', width: 180 },
                {
                    field: 'belong', title: '内外网标识', width: 100, formatter: function (value, row, index) {
                        return value == 1 ? "外网" : "内网"
                    }
                },
            ]],
            autoRowHeight: false,//定义是否设置基于该行内容的行高度。设置为 false，则可以提高加载性能。
            striped: true,//设置为 true，则把行条纹化。（即奇偶行使用不同背景色）
            nowrap: true,//设置为 true，则把数据显示在一行里。设置为 true 可提高加载性能。
            singleSelect: true,
            toolbar: '#tb',
            pagination: true,
            pageSize: 20,
            idField: 'ipid',
            rownumbers: true,
            fit: true,
            queryParams: {
                ipAddress: "",
                belong: -1,
                partyID: ""
            }
        });
    }
    function GridReload(loaded) {
        $("#tt").datagrid(loaded, {
            ipAddress: $("#txtIpAddressQ").val(),
            belong: $("#txtbeLongQ").val(),
            partyID: $("#txtPartyQ").val()
        });
    }
    var isAdd = false;
    function EditIpAddress(ipid) {
        if (ipid == 0)
            isAdd = true;
        else {
            var row = $("#tt").datagrid("getSelected");
            if (row == null) {
                AlertMsg("请选择一行数据后再操作");
                return;
            }
            ipid = row.ipid;
            isAdd = false;
        }
        ShowDialog("IP地址管理", 600, 400, "/Server/IpAddressEdit?ipid=" + ipid, saveIpAddress);
    }
    function DelIpAddress() {
        var row = $("#tt").datagrid("getSelected");
        if (row == null) {
            AlertMsg("请选择一行数据后再操作");
            return;
        }
        $.messager.confirm('提示', "确定要删除吗？", function (r) {
            if (r) {
                $.post("/Server/DelIpAddress", { ipid: row.ipid }, function (result) {
                    if (result.isOk) {
                        AlertMsg("删除成功");
                        GridReload("reload");
                    }
                    else {
                        AlertMsg('删除失败,' + result.msg);
                    }
                });
            }
        });
    }
    function saveIpAddress() {
        var check = $("#formIpAddressEidt").form('enableValidation').form('validate');
        if (check) {
            var postData = $("#formIpAddressEidt").serialize();
            SaveData(postData);
        }
    }
    function SaveData(postData) {
        $.post("/Server/SaveIpAddress", postData, function (result) {
            if (result.isOk) {
                $('#PopWindow').dialog('close');
                $("#PopWindow").remove();
                GridReload(isAdd ? "load" : "reload");
            }
            else {
                AlertMsg('保存失败');
            }
        });
    }
</script>
