
@{
    ViewBag.Title = "服务器IP对应";
    Layout = "~/Views/Shared/_BaseContent.cshtml";
}

<table id="tt"></table>
<div id="tb">
    <a class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="EditServerIp(0, 0)">新增</a>
    <a class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" onclick="EditServerIp(1, 1)">修改</a>
    <a class="easyui-linkbutton" data-options="iconCls:'icon-clear',plain:true" onclick="DelServerIp()">删除</a>
    <span class="l-btn-text">甲方公司：</span><input class="easyui-textbox" id="txtPartyQ" style="width:120px;" />
    <span class="l-btn-text">服务器名称：</span><input class="easyui-textbox" id="txtServerNameQ" style="width:80px;" />
    <a class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true" onclick="GridReload('load')">查询</a>
</div>
<script type="text/javascript">
    $(function () {
        InitCombobox();
        InitGrid();
    });
    function InitCombobox() {
        $("#txtPartyQ").combobox({
            url: '/Party/GetAllPartys?isAddAll=1',
            valueField: 'PartyID',
            textField: 'name'
        });
        $("#txtPartyQ").combobox("select", "");
    }
    function InitGrid() {
        $("#tt").datagrid({
            url: '/Server/GetServerIpList',
            columns: [[
                  { field: 'partyName', title: '甲方公司', width: 150 },
                { field: 'sid', title: '服务器ID', width: 80 },
                { field: 'sName', title: '服务器名称', width: 100 },
                { field: 'loginName', title: '登录名', width: 100 },
                { field: 'password', title: '密码', width: 100 },
                 { field: 'ipv4address', title: 'ip4地址', width: 110 },
                 { field: 'ipv6address', title: 'ip6地址', width: 110 },
                  {
                      field: 'belong', title: '内外网标识', width: 100, formatter: function (value, row, index) {
                          return value == 1 ? "外网" : "内网"
                      }
                  },
                { field: 'remark', title: '备注说明', width: 600 },
            ]],
            autoRowHeight: false,//定义是否设置基于该行内容的行高度。设置为 false，则可以提高加载性能。
            striped: true,//设置为 true，则把行条纹化。（即奇偶行使用不同背景色）
            nowrap: true,//设置为 true，则把数据显示在一行里。设置为 true 可提高加载性能。
            singleSelect: true,
            toolbar: '#tb',
            pagination: true,
            pageSize: 20,
            rownumbers: true,
            fit: true,
            queryParams: {
                serverName: "",
                partyID:""
            }
        });
    }
    function GridReload(loaded) {
        $("#tt").datagrid(loaded, {
            serverName: $("#txtServerNameQ").val(),
            partyID: $("#txtPartyQ").val()
        });
    }
    var isAdd = false;
    function EditServerIp(sid,ipid) {
        if (sid == 0)
            isAdd = true;
        else {
            var row = $("#tt").datagrid("getSelected");
            if (row == null) {
                AlertMsg("请选择一行数据后再操作");
                return;
            }
            sid = row.sid;
            ipid = row.ipid;
            isAdd = false;
        }
        ShowDialog("服务器IP管理", 600, 400, "/Server/ServerIpEdit?sid=" + sid+"&ipid="+ipid, saveServerIp);
    }
    function DelServerIp() {
        var row = $("#tt").datagrid("getSelected");
        if (row == null) {
            AlertMsg("请选择一行数据后再操作");
            return;
        }
        $.messager.confirm('提示', "确定要删除吗？", function (r) {
            if (r) {
                $.post("/Server/DelServerIp", { sid: row.sid,ipid:row.ipid }, function (result) {
                    if (result.isOk) {
                        AlertMsg("删除成功");
                        GridReload("reload");
                    }
                    else {
                        AlertMsg('删除失败');
                    }
                });
            }
        });
    }
    function saveServerIp() {
        var check = $("#formServerIPEidt").form('enableValidation').form('validate');
        if (check) {
            var postData = $("#formServerIPEidt").serialize();
            if (isAdd) {
                $.post("/Server/IsExistsServerIp", postData, function (result) {
                    if (result.IsExists) {
                        AlertMsg("服务器ID已存在，请重新输入");
                    } else {
                        SaveData(postData);
                    }
                });
            } else {
                SaveData(postData);
            }
        }
    }
    function SaveData(postData) {
        $.post("/Server/SaveServerIp", postData, function (result) {
            if (result.isOk) {
                $('#PopWindow').dialog('close');
                $("#PopWindow").remove();
                GridReload(isAdd ? "load" : "reload");
            }
            else {
                AlertMsg('保存失败');
            }
        });
    }
</script>

