
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <table id="tt"></table>
</div>
<script type="text/javascript">
    $(function () {
        //测试GITHUB
        BindGridView();
    });
    function BindGridView() {
        $("#tt").datagrid({
            url: '/DataGrid/GetList',
            columns: [[
                { field: 'Asn_No', title: 'Asn_No' },
                { field: 'Customer_No', title: 'Customer_No' },
                { field: 'Bill_No_All', title: 'Bill_No_All' },
                { field: 'Fob_Type', title: 'Fob_Type' },
                { field: 'Dozen', title: 'Dozen' },
                { field: 'Package_Type', title: 'Package_Type' }
            ]]
        });
    }
</script>

