<table style="width:100%;">
    <tr>
        <td>
            <span style="font-size:20px;font-weight:bold;padding-left:30px;"> 企业项目管理系统</span>
        </td>
    </tr>
    <tr>
        <td align="right" style="height:5px; padding-right:30px;">
            <a href="#" id="aLoginOut" style="font-size:12px;">退出登录</a>
        </td>
    </tr>
</table>
