
@{
    ViewBag.Title = "产品部署数据库";
    Layout = "~/Views/Shared/_BaseContent.cshtml";
}

<table id="tt"></table>
<div id="tb">
    <a class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="EditProdDBDeploy(0)">新增</a>
    <a class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" onclick="EditProdDBDeploy(1)">修改</a>
    <a class="easyui-linkbutton" data-options="iconCls:'icon-clear',plain:true" onclick="DelProdDBDeploy()">删除</a>
    <span class="l-btn-text">项目：</span><input class="easyui-textbox" id="txtItemQ" style="width:180px;" />
    <span class="l-btn-text">产品：</span><input class="easyui-textbox" id="txtProdQ" style="width:180px;" />
    <span class="l-btn-text">数据库：</span><input class="easyui-textbox" id="txtDatabaseQ" style="width:180px;" />
    <a class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true" onclick="GridReload('load')">查询</a>
</div>
<script>
    $(function () {
        InitCombobox();
        InitGrid();
    });
    function InitCombobox() {
        $("#txtItemQ").combobox({
            url: '/Items/GetAllItems?isAddAll=1',
            valueField: 'ItemID',
            textField: 'NAME'
        });
        $("#txtProdQ").combobox({
            url: '/Product/GetAllProds?isAddAll=1',
            valueField: 'ProID',
            textField: 'NAME'
        });
        $("#txtDatabaseQ").combobox({
            url: '/Server/GetAllDatabase?isAddAll=1',
            valueField: 'id',
            textField: 'name'
        });
        $("#txtItemQ").combobox("select", "");
        $("#txtProdQ").combobox("select", "");
        $("#txtDatabaseQ").combobox("select", 0);
    }
    function InitGrid() {
        $("#tt").datagrid({
            url: '/Product/GetProdDBDeployList',
            columns: [[
                { field: 'id', title: 'id', hidden: true },
                { field: 'itemName', title: '项目名称', width: 180 },
                { field: 'prodName', title: '产品名称', width: 200 },
                { field: 'dbNameCn', title: '数据库中文名', width: 120 },
                { field: 'dbType', title: '数据库类型', width: 80 },
                 { field: 'sqlServerCatlog', title: 'MSSQL数据库英文名', width: 120 },
                { field: 'mongoAdminDBName', title: 'mongoAdminDBName', width: 100 },
                { field: 'mongoDBName', title: 'mongoDBName', width: 100 },
                { field: 'orclServiceName', title: 'orclServiceName', width: 100 },
                { field: 'username', title: 'username', width: 80 },
                { field: 'password', title: 'password', width: 80 },
            ]],
            autoRowHeight: false,//定义是否设置基于该行内容的行高度。设置为 false，则可以提高加载性能。
            striped: true,//设置为 true，则把行条纹化。（即奇偶行使用不同背景色）
            nowrap: true,//设置为 true，则把数据显示在一行里。设置为 true 可提高加载性能。
            singleSelect: true,
            pagination: true,
            pageSize: 20,
            idField: 'id',
            toolbar: '#tb',
            rownumbers: true,
            fit: true,
            queryParams: {
                itemid: "",
                prodid: "",
                dbid:0
            }
        });
    }
    function GridReload(loaded) {
        $("#tt").datagrid(loaded, {
            itemid: $("#txtItemQ").combobox('getValue'),
            prodid: $("#txtProdQ").combobox('getValue'),
            dbid: $("#txtDatabaseQ").combobox('getValue'),
        });
    }
    var isAdd = false;
    function EditProdDBDeploy(id) {
        if (id == 0)
            isAdd = true;
        else {
            var row = $("#tt").datagrid("getSelected");
            if (row == null) {
                AlertMsg("请选择一行数据后再操作");
                return;
            }
            id = row.id;
            isAdd = false;
        }
        ShowDialog("产品部署(产品数据库对应)", 600, 400, "/Product/ProdDBEdit?id=" + id, saveProdDBDeploy);
    }
    function DelProdDBDeploy() {
        var row = $("#tt").datagrid("getSelected");
        if (row == null) {
            AlertMsg("请选择一行数据后再操作");
            return;
        }
        $.messager.confirm('提示', "确定要删除吗？", function (r) {
            if (r) {
                $.post("/Product/DelProdDBDdeploy", { id: row.id }, function (result) {
                    if (result.isOk) {
                        AlertMsg("删除成功");
                        GridReload("reload");
                    }
                    else {
                        AlertMsg('删除失败');
                    }
                });
            }
        });
    }
    function saveProdDBDeploy() {
        var check = $("#formProdDBEidt").form('enableValidation').form('validate');
        if (check) {
            var postData = $("#formProdDBEidt").serialize();
            $.post("/Product/SaveProdDBDeploy", postData, function (result) {
                if (result.isOk) {
                    $('#PopWindow').dialog('close');
                    $("#PopWindow").remove();
                    GridReload(isAdd ? "load" : "reload");
                }
                else {
                    AlertMsg('保存失败');
                }

            });
        }
    }
</script>


