
@{
    ViewBag.Title = "产品部署服务器";
    Layout = "~/Views/Shared/_BaseContent.cshtml";
}
<table id="tt"></table>
<div id="tb">
    <a class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="EditProdDeploy(0)">新增</a>
    <a class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" onclick="EditProdDeploy(1)">修改</a>
    <a class="easyui-linkbutton" data-options="iconCls:'icon-clear',plain:true" onclick="DelProdDeploy()">删除</a>
    <span class="l-btn-text">项目：</span><input class="easyui-textbox" id="txtItemQ" style="width:150px;" />
    <span class="l-btn-text">产品：</span><input class="easyui-textbox" id="txtProdQ" style="width:180px;" />
    <span class="l-btn-text">服务器：</span><input class="easyui-textbox" id="txtServerQ" style="width:120px;" />
    <a class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true" onclick="GridReload('load')">查询</a>
</div>
<script>
    $(function () {
        InitCombobox();
        InitGrid();
    });
    function InitCombobox() {
        $("#txtItemQ").combobox({
            url: '/Items/GetAllItems?isAddAll=1',
            valueField: 'ItemID',
            textField: 'NAME'
        });
        $("#txtProdQ").combobox({
            url: '/Product/GetAllProds?isAddAll=1',
            valueField: 'ProID',
            textField: 'NAME'
        });
        $("#txtServerQ").combobox({
            url: '/Server/GetAllServers?isAddAll=1',
            valueField: 'sid',
            textField: 'name'
        });
        $("#txtItemQ").combobox("select", "");
        $("#txtProdQ").combobox("select", "");
        $("#txtServerQ").combobox("select", 0);
    }
    function InitGrid() {
        $("#tt").datagrid({
            url: '/Product/GetProdServerList',
            columns: [[
                { field: 'id', title: 'id', hidden: true },
                { field: 'itemName', title: '项目名称', width: 180 },
                { field: 'prodName', title: '产品名称', width: 200 },
                { field: 'serverName', title: '服务器名称', width: 120 },
                { field: 'port', title: '端口', width: 80 },
                { field: 'portTypeName', title: '通讯协议', width: 80 },
                { field: 'remark', title: '备注', width: 480 },
            ]],
            autoRowHeight: false,//定义是否设置基于该行内容的行高度。设置为 false，则可以提高加载性能。
            striped: true,//设置为 true，则把行条纹化。（即奇偶行使用不同背景色）
            nowrap: true,//设置为 true，则把数据显示在一行里。设置为 true 可提高加载性能。
            singleSelect: true,
            pagination: true,
            pageSize: 20,
            idField: 'id',
            toolbar: '#tb',
            rownumbers: true,
            fit: true,
            queryParams: {
                prodID: "",
                serverID: 0,
                itemID:""
            }
        });
    }
    function GridReload(loaded) {
        $("#tt").datagrid(loaded, {
            prodID: $("#txtProdQ").combobox('getValue'),
            serverID: $("#txtServerQ").combobox('getValue'),
            itemID: $("#txtItemQ").combobox('getValue')
        });
    }
    var isAdd = false;
    function EditProdDeploy(id) {
        if (id == 0)
            isAdd = true;
        else {
            var row = $("#tt").datagrid("getSelected");
            if (row == null) {
                AlertMsg("请选择一行数据后再操作");
                return;
            }
            id = row.id;
            isAdd = false;
        }
        ShowDialog("产品部署（产品服务器对应）", 600, 400, "/Product/ProdServerEdit?id=" + id, saveProdDeploy);
    }
    function DelProdDeploy() {
        var row = $("#tt").datagrid("getSelected");
        if (row == null) {
            AlertMsg("请选择一行数据后再操作");
            return;
        }
        $.messager.confirm('提示', "确定要删除吗？", function (r) {
            if (r) {
                $.post("/Product/DelProdDdeploy", { id: row.id }, function (result) {
                    if (result.isOk) {
                        AlertMsg("删除成功");
                        GridReload("reload");
                    }
                    else {
                        AlertMsg('删除失败');
                    }
                });
            }
        });
    }
    function saveProdDeploy() {
        var check = $("#formProdServerEidt").form('enableValidation').form('validate');
        if (check) {
            var postData = $("#formProdServerEidt").serialize();
            $.post("/Product/SaveProdDeploy", postData, function (result) {
                if (result.isOk) {
                    $('#PopWindow').dialog('close');
                    $("#PopWindow").remove();
                    GridReload(isAdd ? "load" : "reload");
                }
                else {
                    AlertMsg('保存失败');
                }

            });
        }
    }
</script>
